.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 1);
}

.navbar_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.navbar_links {
  width: 476px;
  height: 27px;
  display: flex;
  gap: 65px;
}

.logo {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.isOpen {
  display: none;
}

@media only screen and (max-width: 850px) {
  .navbar {
    width: 100%;
    height: 60px;
  }

  .isOpen {
    display: block;
    z-index: 100;
  }
  .isOpen svg {
    font-size: 20px;
  }
}
